:root {
  background: linear-gradient(to right, rgba(168, 237, 234, 0.5), rgba(254, 214, 227, 0.5));
}

li {
  padding-bottom: 3px;
  color: black;
  list-style-type: none;
}

p {
  color: black;
  text-align: center;
  font-size: xx-large;
}

h2 {
  margin-top: -0.5rem;
}

input {
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

button {
  display: inline-block;
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5));
  border-radius: 10px;
  border: black;
  color:thick black;
  text-align: center;
  font-size: bolder;
  padding: 20px;
  width: 200px;
  margin-top: 3px;
}

button:hover {
  box-shadow: 4px 3px 6px  rgba(106, 17, 203, 0.5);
}

#startpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  background-color:  rgba(106, 17, 203, 0.5);
  color: black;
  font-size: x-large;
  text-shadow: 0.5px 0.5px  rgba(106, 17, 203, 0.5);
  text-align: center;
}

#quiz {
  display: none;
}

#result {
  display: none;
}

#gameover {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
}

#highScore {
  height: 1.5rem;
  border: groove 2px;
}

#high-scorePage {
  display: none;
  width: 50%;
  border: solid;
  border-color: rgba(118, 75, 162, 0.5);
  border-bottom-style: groove;
  padding-bottom: 0.3rem;
  background: rgba(102, 126, 234, 0.5);
}

#highscore-header {
  display: flex;
  justify-content: space-around;
  border-color: rgba(118, 75, 162, 0.5);
  border-bottom-style: groove;
  padding-bottom: 0.3rem;
  background: rgba(102, 126, 234, 0.5);
}

#highscoreContainer {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#initials {
  margin: 0.5rem;
  height: 1.75rem;
}

#highscore-initials {
  display: inline-block;
  padding-left: 9.5rem;
  font-weight: bold;
}

#highscore-score {
  float: right;
  padding-right: 8.75rem;
  font-weight: bold;
}

#finalScore {
  padding-bottom: 0.5rem;
  font-size: x-large;
  font-weight: bold;
}

#endGameBtns {
  display: none;
}
